<div class="container">

        <div class="row mainrow">
            <div class="col-4">

                <img src="/public/assets/img/meFace.png" alt="" class="img-fluid"> 
            
            </div>
            

            <div class="col-4">

                <img src="/public/assets/img/meField.jpg" alt="" class="img-fluid">

            </div>

            <div class="col-4">

                <img src="/public/assets/img/ommegang.jpg" alt="" class="img-fluid">

            </div>
        </div>

        <div class="row mainrow">
            <div class="col-12">

                <div class="row">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-About-list" data-toggle="list"
                                href="#list-About" role="tab" aria-controls="About">About Me</a>
                            <a class="list-group-item list-group-item-action" id="list-Coding-list" data-toggle="list"
                                href="#list-Coding" role="tab" aria-controls="Coding">Coding Skills</a>
                            <a class="list-group-item list-group-item-action" id="list-Hobbies-list" data-toggle="list"
                                href="#list-Hobbies" role="tab" aria-controls="Hobbies">Interests</a>
                            <a class="list-group-item list-group-item-action" id="list-Goals-list" data-toggle="list"
                                href="#list-Goals" role="tab" aria-controls="Goals">Goals</a>
                            <a class="list-group-item list-group-item-action" id="list-Contact-list" data-toggle="list"
                                href="#list-Contact" role="tab" aria-controls="Contact">Contact</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-About" role="tabpanel" aria-labelledby="list-About-list">
                                <p class="table-para">
                                    My name is Josh Rivenburgh.
                                    </p>
                            </div>
                            <div class="tab-pane fade" id="list-Coding" role="tabpanel" aria-labelledby="list-Coding-list">
                                <p class="table-para"> </p>
                            </div>
                            <div class="tab-pane fade" id="list-Hobbies" role="tabpanel" aria-labelledby="list-Hobbies-list">
                                <p class="table-para">
                                   </p>
                            </div>
                            <div class="tab-pane fade" id="list-Goals" role="tabpanel" aria-labelledby="list-Goals-list">
                                <p class="table-para">
                                    </p>
                            </div>

                            <div class="tab-pane fade" id="list-Contact" role="tabpanel" aria-labelledby="list-Contact-list">
                                <section class="table-para">

                                       <a href="contact.html"><button class="emailButton"><i class="fas fa-envelope"></i> Jurassicjosh429@gmail.com</button></a>
                                        <br>
                                       <button class="phoneButton"><i class="fas fa-mobile"></i> (607) 244-9405 </button></a>

                                       <br>

                                       <a href="https://www.linkedin.com/in/joshua-rivenburgh-5741b9169/" ><button class="linkedInButton"><i class="fab fa-linkedin"></i> linkedin</button></a>

                                       <br>

                                       <a href="https://github.com/Jrivenburgh"><button class="gitHubButton"><i class="fab fa-github"></i>GitHub</button></a>
                                       
                                       <br>

                                       <a href="assets/documents/"><button class="resumeButton"><i class="far fa-file-pdf"></i> Resume</button></a>

                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>