    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="projectIcon">
                        <a href="https://github.com/sergeymaguire/andChill">
                        <img class="img-fluid" src="https://github.com/Jrivenburgh/Portfoliox/blob/master/public/assets/img/jpark.jpeg?raw=true">
                        <img class="img-fluid" src="https://github.com/Jrivenburgh/Portfoliox/blob/master/public/assets/img/jpark.jpeg?raw=true">
                        <img class="img-fluid" src="https://github.com/Jrivenburgh/Portfoliox/blob/master/public/assets/img/jpark.jpeg?raw=true">
                        <img class="img-fluid" src="https://github.com/Jrivenburgh/Portfoliox/blob/master/public/assets/img/jpark.jpeg?raw=true">
                   
                </div>

               
                        
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <button class="GigButton"><i class="fas fa-music"></i> andChill</button>
                        </a>


            </div>

            <div class="col-4">

                    <div class="projectIcon">

                        <a href="https://github.com/Jrivenburgh/NY-Giants-Guessing-Game/">
                        <img src="https://github.com/Jrivenburgh/Portfoliox/blob/master/public/assets/img/banks.png?raw=true">
                        <img src="https://github.com/Jrivenburgh/Portfoliox/blob/master/public/assets/img/banks.png?raw=true">
                        <img src="https://github.com/Jrivenburgh/Portfoliox/blob/master/public/assets/img/banks.png?raw=true">
                        <img src="https://github.com/Jrivenburgh/Portfoliox/blob/master/public/assets/img/banks.png?raw=true">
                       
                    </div>
    
                  
                            
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <button class="trainButton"><i class="fas fa-subway"></i> New York NY-Giants-Guessing-Game</button>
                            </a>


                        </div>

                        <div class="col-4">

                                <div class="projectIcon">
            
                                    <a href="https://github.com/Jrivenburgh/StarTrekTrivia">
                                    <img src="https://github.com/Jrivenburgh/Portfoliox/blob/master/public/assets/img/starTrek.jpg?raw=true">
                                    <img src="https://github.com/Jrivenburgh/Portfoliox/blob/master/public/assets/img/starTrek.jpg?raw=true">
                                    <img src="https://github.com/Jrivenburgh/Portfoliox/blob/master/public/assets/img/starTrek.jpg?raw=true">
                                    <img src="https://github.com/Jrivenburgh/Portfoliox/blob/master/public/assets/img/starTrek.jpg?raw=true">
                                   
                                </div>
                
                                        
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <button class="triviaButton"><i class="fas fa-gamepad"></i> Star Trek Trivia!</button>
                                        </a>
            
            
                                    </div>

        </div>


        <div class="row">
           
                        <div class="col-4">

                                <div class="projectIcon">
            
                                    <a href="https://gentle-ravine-80392.herokuapp.com/">
                                    <img src="/public/assets/img/got1.jpg">
                                    <img src="/public/assets/img/got1.jpg">
                                    <img src="/public/assets/img/got1.jpg">
                                    <img src="/public/assets/img/got1.jpg">
                                   
                                </div>
                
                                        
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <button class="triviaButton"> <i class="fas fa-utensils"></i> Find a Friend</button>
                                        </a>
            
            
                                    </div>


                                    <div class="col-4">

                                        <div class="projectIcon">
                    
                                            <a href="https://stark-eyrie-20906.herokuapp.com/">
                                            <img src="/public/assets/img/dadandme.jpg">
                                            <img src="/public/assets/img/dadandme.jpg">
                                            <img src="/public/assets/img/dadandme.jpg">
                                            <img src="/public/assets/img/dadandme.jpg">
                                           
                                        </div>
                        
                                                
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <button class="triviaButton"> <i class="fas fa-laptop-code"></i> PottaPorty </button>
                                                </a>
                    
                    
                                            </div>


        </div>



    </div>
